.cardContainer {
  margin-bottom: 20px;

  &:hover {
    background-color: #ffffff;
    box-shadow: 11px 14px 37px -25px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 11px 14px 37px -25px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 11px 14px 37px -25px rgba(0, 0, 0, 0.53);
  }
}
